@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #000000ee;
    align-items: center;
    flex-wrap: wrap;
}

header a, h1 {
    color: white;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 40px;
    font-size: 1rem;
    list-style: none;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

img {
    max-width: 100%;
    display: block;
}

#divImagem {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

#textoSobImagem {
    display: block;
    position: absolute;
    top: 40%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 20px;
}

#textoSobImagem h2, #textoSobImagem p {
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

#textoSobImagem h3 {
    text-align: center;
    padding: 10px;
}

#textoSobImagem a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 5px;
}

#nossosClientes {
    background-color: white;
}

#nossosClientes h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.75rem;
    text-transform: uppercase;
}

#clientes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
}

#sobre {
    background-color: rgb(0, 0, 0);
    color: white;
}

#sobre h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.75rem;
    text-transform: uppercase;
}

#containerSobre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 20px;
}

.sobre-item {
    padding: 20px;
    margin: 10px;
    background-color: rgb(105, 105, 105);
    border-radius: 4px;
}

.sobre-item h3 {
    margin-bottom: 10px;
}

#containerProduto h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.75rem;
    text-transform: uppercase;
}

#listaBeneficios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}